{% extends "bases.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
<div class="container py-5" >
    
    <div style="margin: 0 auto; width: 450px; border: 2px solid rgba(3, 27, 70, 0.95);
    background-color: rgb(248, 249, 252);color: rgb(0, 0, 0); border-radius: 5px;">
        
        <h1 style="text-align: center;">Checkout</h1>
        <div class="order-info" style="margin-left: 10px;">
            <h3>Your order</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>${{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>
        </div>
        <form method="post" class="order-form" style="padding: 10px; padding-left: 50px; ">
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary mb-2">
                Place order
            </button>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}